[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
reposync = {git = "https://github.com/GSS-Cogs/airtable-utils.git", ref = "master"}

[packages]
jupyter = "*"
jupytext = "*"
databaker = {git = "https://github.com/GSS-Cogs/databaker.git", ref = "gss_speedup"}
gssutils = {git = "https://github.com/GSS-Cogs/gss-utils.git", ref = "v0.12.6"}
pandas = "0.25.3"
titlecase = "*"
behave = "*"
fingertips-py = "*"
pyexcel-ods = "*"
pyexcel-odsr = "*"
pyexcel-text = "*"
python-box = "*"
html2text = "*"
chardet = "*"
SPARQLWrapper = "*"
CacheControl = {extras = ["filecache"],version = "*"}
airtable-python-wrapper = "*"
python-jenkins = "*"
matplotlib = "*"
rdflib = "==4.2.2"
jupyterlab = "*"
openpyxl = "*"
beautifulsoup4 = "*"
google-cloud-storage = "*"
selenium = "*"
backoff = "*"

[requires]
python_version = "3.8"
