[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"
reposync = { git = "https://github.com/GSS-Cogs/airtable-utils.git", ref = "master" }
detemplater = { git = "https://github.com/GSS-Cogs/de-templater.git", ref = "v0.0.2" }
csvcubed-devtools = "v0.1.1"

[packages]
dehelpers = { git = "https://github.com/GSS-Cogs/de-helpers.git", ref = "v0.0.2" }
gssutils = { git = "https://github.com/GSS-Cogs/gss-utils.git", ref = "v0.14.4" } 
jupyter = "*"
jupytext = "*"
titlecase = "*"
behave = "*"
fingertips-py = "*"
pyexcel-ods = "*"
pyexcel-odsr = "*"
pyexcel-text = "*"
python-box = "*"
html2text = "*"
chardet = "*"
SPARQLWrapper = "*"
airtable-python-wrapper = "*"
python-jenkins = "*"
matplotlib = "*"
jupyterlab = "*"
openpyxl = "*"
beautifulsoup4 = "*"
google-cloud-storage = "*"
selenium = "*"
backoff = "*"
pyhamcrest = "<=2.0.2"
vcrpy = "*" # Required by some transformations which use cached HTTP responses

[requires]
python_version = "3.9"
