jupyter
git+https://github.com/ONS-OpenData/databaker.git@gss_speedup
pandas
requests
rdflib
cachecontrol[filecache]
SPARQLWrapper
titlecase
behave
pyexcel
pyexcel-io
pyexcel-ods
pyexcel-ods3
pyexcel-odsr
pyexcel-xls
pyexcel-text
html2text
git+https://github.com/ONS-OpenData/gss-utils.git@v0.3
